/* Fondo principal */
body {
  background: rgb(0,77,64); 
  background: radial-gradient(circle, rgba(0,77,64,1) 0%, rgba(0,150,136,1) 50%, rgba(80,200,190,1) 100%); 
  background-repeat: round;
  font-family: 'Montserrat', sans-serif;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #80cbc4;
}

.carousel-control-prev-icon:before, .carousel-control-next-icon:before {
  color: white; 
}


.nav-link.fs-4.me-2 .svg-inline--fa {
  font-size: inherit;
  color: #e0f2f1;
}
